# Dependencies
node_modules/
/server/node_modules/
jspm_packages/
web_modules/

# Production build outputs
dist/
/server/dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code coverage downloads
coverage
*.lcov

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
/server/.env

# Local database files
*.db
*.db-journal

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# OS metadata files
.DS_Store
Thumbs.db
desktop.ini

# Vite cache
.vite/
